html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 2.2rem;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

a:visited, a:active {
    color: #313131;
}

#banner {
    padding: 10% 0;
    position: relative;
    color: #313131;
    min-height: 40vh;
    height: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    background-image: url("assets/banner-bg.png");
    background-repeat: no-repeat;
    background-position: 35vw 0px;
}

.social-icons-container {
    position: absolute;
    top: 40px;
    margin: 0 7% 3% 7%;
}

.social-icon {
    margin: 10px 0;
    height: 50px;
    width: auto;
}

.page-title {
    margin: 0 0 18px 0;
    color: #313131;
    font-size: 4rem;
}

.page-title > span {
    color: #CD4167;
}

.banner-content {
    width: 40%;
    margin-left: 7%;
}

.pink-button {
    background-color: #CD4167;
    border: 0px solid transparent;
    border-radius: 30px;
    box-shadow: 4px 0px 21px -2px grey;
}

.register-banner-btn {
    width: 50%;
    height: 40px;
}

.pink-button > a {
    color: white;
    font-size: 1.6rem;
}


/* Form section */
#form {
    padding: 10% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #313131;
    color: white; 
}

.lancamento-content {
    margin-left: 7%;
    max-width: 40vw;
}

.lancamento-content > h2 {
    font-size: 4.5rem;
}

.lancamento-content > h3 {
    font-size: 4rem;
}

form {
    margin-right: 7%;
    width: 25%;
    min-width: 400px;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #313131;
    box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.75);
    border-radius: 30px;
}

form > input, form > select {
    padding: 0 5px;
    width: 100%;
    margin: 8px 0;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    outline-color: #CD4167;
    background-color: lightgray;
}

.form-title {
    margin: 0;
    font-size: 2.5rem;
}

.form-title span {
    color: #CD4167;
}

.form-description {
    margin: 6px 0 10px 0;
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
}

.form-newsletter span {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.form-newsletter label, .form-newsletter input {
    font-size: 1.5rem;
    margin-top: 4px;
}

.last-input {
    margin-left: 20px;
}

.form-submit-btn {
    width: 65%;
    height: 40px;
    font-size: 2rem;
    color: white;
    margin-top: 20px;
}

/* Medias */
@media (min-width: 1800px) {
    html {
        width: 1800px;
    }

    #banner {
        background-position: 800px 0;
    }
}

@media screen and (max-width: 1040px) {
    #banner {
        background-position: 20vw 0px;
        min-height: 80vh;
    }

    .banner-content {
        width: 250px;
    }

    .register-banner-btn {
        width: 200px;
    }
}

@media screen and (max-width: 860px) {
    #banner {
        background-position: 11vw 0px;
    }
}

@media screen and (max-width: 560px) {
    #banner {
        background-image: none;
    }

    .banner-content {
        width: 90%;
    }

    form {
        min-width: 300px;
    }
}

/*  Wrap form and text  */
@media screen and (max-width: 1000px) {
    form {
      margin: 30px auto;
    }

    .lancamento-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    html, body {
        font-size: 9px;
    }
}
